.h-xl {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.h-lg {
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.h-md {
  font-size: 1.625rem;
  line-height: 2.625rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}

.h-sm {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 0rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-top: 0rem;
  margin-bottom: 1.3125rem;
}

.paragraph-sm {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 0rem;
  margin-bottom: 1.3125rem;
}
